.group {
	position: relative;
	margin: 45px;

	.form-input {
	background: none;
	background-color: white;
	color: #c3c3c3;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-radius: 0;
  border-bottom: 2px solid #a9a9a9;
	margin: 25px 0;

	&:focus {
		outline: none;
	}
}

}
